package engine

import "github.com/TheLab-ms/conway/modules/bootstrap"

templ renderError(e *httpError) {
	@bootstrap.View() {
		<div class="container my-5">
			if e.StatusCode < 500 {
				<div class="alert alert-warning">
					<h4 class="alert-heading">Bad Request</h4>
					{ e.Message }
				</div>
			} else {
				<div class="alert alert-danger">
					<h4 class="alert-heading">Uh oh</h4>
					{ e.Message }
				</div>
			}
		</div>
	}
}
